replicaCount: 1

image:
  repository: novog93/signer
  tag: latest
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

namespace: signer

serviceAccount:
  create: true
  annotations: {}
  name: ""

rbac:
  create: true

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65532
  fsGroup: 65532

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

podAnnotations: {}

podLabels: {}

imagePullSecrets: []

nodeSelector: {}

affinity: {}

tolerations: []

service:
  type: ClusterIP
  port: 8080

livenessProbe: {}

readinessProbe: {}

volumeMounts: []

volumes: []
